<div class="section section-gray text-center">
  <div class="wrapper">
    <h2 class="section-header cta-header">P.S. Det går inte att lajka sig till ett bättre samhälle.</h2>
    <h2 class="section-header cta-header"> Bjud någon på middag.</h2>
    <a class="button button-primary" href="http://v1.invitationsdepartementet.se/signup?region=Välj+ort">Registrera dig</a>
  </div>
</div>

<div class="site-footer">

  <div class="wrapper center-text">
    © Invitationsdepartementet<br>Invitationsdepartementet c/o The Park<br>Magnus Ladulåsgatan 3 <br> 118 65 Stockholm Sweden
  </div>

</div>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WJ5B4K9');</script>
<!-- End Google Tag Manager -->
